.demo-button {
  button, a {
    margin: 8px;
    text-transform: uppercase;
  }

  section {
    display: flex;
    align-items: center;
    margin: 8px;
  }

  p {
    padding: 5px 15px;
  }

  .demo-section-header {
    font-weight: 500;
    margin: 0;
  }

  .demo-no-flex {
    display: block;
  }
}

.demo-section-fab-dial {
  min-height: 10vh;
  mat-form-field {
    margin: 0.5rem 1rem;
  }
}
